@model JAOTT.Models.Mission

@{
    ViewBag.Title = "Delete";
}

<h2>Delete a Mission</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.volunteer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volunteer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Details")
        </div>
    }
</div>
