@model JAOTT.Models.Mission

@{
    ViewBag.Title = "Details";
}

<h2>Details about the mission</h2>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.volunteer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volunteer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <a href="~/Views/Missions/Details.cshtml">~/Views/Missions/Details.cshtml</a>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.About)
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.About)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
   
</p>
